.inputRegistration{
    display: none;
}
.inputRegistration.show{
    display: block;
}
#button-Remove{
    padding: 4px;
}
#camp_responsables{
    padding-bottom:7px ;
}
#listAllUsers{
    padding-top: 0%;
}